.btn-success{
    // background linear gradient
    background: linear-gradient(to left, $color3);
    border: none;
    padding: 7px 14px;
    border-radius: 7px;
}

.search-load{
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: $color2;
}

@media screen and(min-width: $lg){
    .btn-inst, .btn-primary{
        font-size: 1.1rem;
        font-weight: 600;
    }
}
@media screen and(min-width: $tab){
    .btn-inst, .btn-primary{
        font-size: 1.3rem;
    }
}
@media screen and(min-width: $tab-large){
    .btn-inst, .btn-primary{
        font-size: 1.4rem;
    }
    .search-load{
        font-size: 1.6rem;
        line-height: 1.6rem;
    }
}
@media screen and(min-width: $desk){
    .search-load{
        font-size: 1.8rem;
        line-height: 1.8rem;
    }
}