.navbar{
    &-brand{
        & img{
            width: 130px;
            padding: 5px 12px;
        }
    }
    &-toggler{
        margin-left: 12px;
        border: 2px solid;
        border-image-slice: 1;
        border-width: 2px;
        border-image-source: linear-gradient(to left, $color1, $color2, $color3);
        &-iconx{
            background: linear-gradient($color1, $color2, $color3);
            background-clip: text;
        }
    }
    &-nav{
        @include container;
        @include flex-col;
        justify-content: end;
        & a:nth-child(1){
            margin-bottom: 7px;
        }
    }
    & .container-fluid{
        display: flex;
        justify-content: flex-start;
    }
}

@media screen and(min-width: $tab){
    .navbar{
        &-brand{
            & img{
                width: 150px;
            }
        }
    }
}

@media screen and(min-width: $tab-large){
    .navbar{
        &-brand{
            & img{
                width: 170px;
            }
        }
        &-nav{
            & a:nth-child(1){
                margin: 0 15px 0 0;
            }
        }
    }
}

@media screen and(min-width: $desk){
    .navbar{
        &-brand{
            & img{
                width: 200px;
            }
        }
    }
}